notebook==5.7.8
jupyterlab==0.35.6
nbgitpuller==0.7.2
nbpdfexport==0.2.1
nbzip==0.0.4
jupyterhub==1.0.0
appmode==0.4.0
nbresuse==0.3.2
ipywidgets==7.2.1
tornado==5.1.1
datascience==0.15.1
matplotlib==3.1.0
numpy==1.16.0
pandas==0.23.4
scipy==1.2.0
statsmodels==0.10.0
okpy==1.12.5
ipympl==0.2.1
folium==0.9.1
scikit-learn==0.21.3
seaborn==0.9.0
bokeh==0.12.6
decorator==4.4.2
beautifulsoup4==4.6.0
spacy==1.9.0
qgrid==1.1.1
scikit-image==0.13.1
plotly==4.0.0
mpmath==1.1.0
sympy==1.4
chart-studio==1.0.0
csaps==0.5.0
nb2pdf==0.2.0
otter-grader==0.2.3
nbforms==0.5.1
pyreadstat==0.2.8